<app-nav></app-nav>

<section id="authors" class="my-5 text-center">
  <div class="container ">
    <div class="row ">
      <div class="col">
        <div class="info-header mb-5">
          <h1 id="meetauthors" class="text-dark pb-3">
            Owners
          </h1>
          <p class="lead text-white pb-3 border-bottom border-success">
              If you have a dream, don’t just sit there. Gather courage to
               believe that you can succeed and leave no stone unturned to make it a reality.
              
          </p>
        </div>
      </div>
    </div>

    <div class="row ml-4">
      <div class="col-lg-6 col-sm-12 col-md-12 my-4 pl-4">
        <div class="card w-75   w-md-50">
          <div class="card-body  ">
            <img
              src="assets/sufyan.jpg"
              alt="Developer"
              class="img-fluid rounded-circle w-50 mb-3"
            />
            <h3>Sufyan Iqbal</h3>
            <h5 class="text-muted text-monospace">Frontend Developer</h5>
            <p class="lead mt-4">
                I Develop to find strength.
                I Develop to become the person that hides inside me.
                I Develop to light the way through the darkness for others.
                I Develop to be seen and heard.
            </p>
            <div class="d-flex   justify-content-center">
              <div class=" p-2   my-2 ">
                <p class="text-muted mb-3">Connect Via</p>
                <a href="https://www.facebook.com/sufyan.kamboh.71?ref=bookmarks">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                
                    <a vhref="https://www.linkedin.com/in/sufyan-iqbal-074387149/">
                    <img src="..\assets\linkedin-logo.png" alt="[Social Account]" width="35" height="35" class="mt-2 ml-1 "></a>
                  
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12 col-md-12 my-4  ">
        <div class="card w-75  ">
          <div class="card-body">
            <img
              src="assets/hamza.jpg"
              alt="Logo Designer"
              class="img-fluid rounded-circle w-50 mb-3"
            />
            <h3>Hamza Nazir</h3>
            <h5 class="text-muted text-monospace">Logo Designer</h5>
            <p class="lead mt-4">
              “Success is where preparation and opportunity meet.
              ”
            </p>
            <div class="d-flex   justify-content-center">
              <div class="p-4">
                <p class="text-muted">Connect Via</p>
                <a href="https://www.facebook.com/profile.php?id=100005507313230">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>